<!DOCTYPE html>
<html>
    <head>
        <title>Courses</title>
    </head>
    <body>
        <div class="header"></div>
        <div class="centre">
            <h2>A Complete guide for web dev</h2>
            <div class="video1">
                <h4>HTML crash course</h4>
                <video src="https://www.youtube.com/watch?v=pQN-pnXPaVg" controls muted ></video>
                <p>completed: <input class="c1" type="checkbox"></p>
            </div>
            <div class="video2">
                <h4>CSS crash course</h4>
                <video src="https://www.youtube.com/watch?v=ieTHC78giGQ" controls muted></video>
                <p>completed: <input class="c1" type="checkbox"></p>
            </div>
            <div class="video3">
                <h4>JS crash course</h4>
                <video src="https://www.youtube.com/watch?v=PkZNo7MFNFg" controls muted ></video>
                <p>completed: <input class="c1" type="checkbox"></p>
            </div>
            <div class="video4">
                <h4>Node js crash course</h4>
                <video src="https://www.youtube.com/watch?v=TlB_eWDSMt4" controls muted></video>
                <p>completed: <input class="c1" type="checkbox"></p>
            </div>
            <div class="video6">
                <h4>Express crash course</h4>
                <video src="" controls muted></video>
            </div>
        </div>
    </body>
</html>