<!DOCTYPE html>
<html>
    <head>
        <title>Forgot Password</title>
    </head>
    <body>
        <h3>Reset your Password</h3>
        <form method="POST" action="/forgot">
            <label for="email">Email:-</label>
            <input type="email" name="email" id="email">
            <button>Submit</button>
        </form>
    </body>
</html>