<!DOCTYPE html>
<html>
    <head>
        <title>Maxime-home</title>
        <meta  name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="header">
            <img class="logo" src="/public/images/lmslogo.png" >
        </div>
        <div class="centreleft"></div>
        <div class="centre">
            <h1>Maxime</h1> 
            <p>Everything is possible by organizing</p>
            <button><a href="/register">Sign up!!</a></button>
            <p>Already a user??</p>
            <button><a href="/login">Login</a></button>
        </div> 
        <div class="footer">

        </div>
    </body>
</html>