<!DOCTYPE html>
<html>
    <head>
        <title>Reset Password</title>
    </head>
    <body>
        <h3>Reset detils</h3>
        <form method="POST" action="/update">
            <label for="email">Email:</label>
            <input type="email" name="email" value="" >
            <label for="phone">Phone no:</label>
            <input type="number" name="phone" value="" >
            <label for="password">New Password</label>
            <input type="password", name='password' value='', placeholder='New password', autofocus=true>
            <label for="confirm">Confirm Password</label>
            <input type='password', name="confirm", value="", placeholder="Confirm Password">
            <button>Submit</button>
        </form>
    </body>
</html>