<!DOCTYPE html>
<html>
    <head>
        <title>Userprofile</title>
    </head>
    <body>
        <h1>userprofile</h1>
        <p>Welcome <%= name1 %></p>
        <p><a href="/dashboard">Dashboard</a></p>
        <p><a href="/courses">Courses</a></p>
        <p><a href="/logout">Logout</a></p>

    
        <div class="addtask">
            <button><a href="/tasks">Add Task</a></button>
        </div>
    </body>
</html>